<mat-card class="chat">
  <mat-card-content>
    <app-message *ngFor="let message of messages; trackBy:trackById" [message]="message">

    </app-message>
  </mat-card-content>
  <mat-card-actions class="chat__action" *ngIf="loggedUser">
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="newMessage"/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="send(newMessage)" [disabled]="!newMessage">
      ✉️
    </button>
  </mat-card-actions>
</mat-card>
